/* =========================================
   Color Palette
   ========================================= */

:root {
  /* ========= Neutral ========= */
  --neutral-900: #2f1401;
  --neutral-600: #6d5b4d;
  --neutral-100: #f7f3f0;
  --neutral-0: #ffffff;

  /* ========= Accent Colors ========= */
  --yellow-500: #f8cb46;

  --blue-400: #92adeb;
  --blue-600: #5072c7;

  --teal-400: #47d9c9;

  --pink-400: #fc8ae5;
  --pink-500: #f073a3;
  --pink-700: #e11966;
}
